@import 'var';

.header {
  #nav { 
    text-align: left;
    background-color: $ia-background-color;
    height: auto;

    border-style: solid;
    border-width: 0px 0px $border-width 0px;
    border-color: $border-color;

  }

  ul li {
    display: inline;
    a {
      color: $font-color;
    }
  }
} 
