@import 'var';

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size;
  color: $font-color;
  height: 100%;
  width: 100%;
  display: table;
}

html {
  height: 100%;
}


ul li {
  list-style-type: none;

  a {
    border-color: $ia-background-color;
    border-width: $border-width;

  }
  
  a:link, a:visited {
    padding: $border-width;
    text-decoration: none;
  }

  a:hover, a:active {
    padding: 0px;
    border-style: solid;
    border-color: $border-color;
  }
} 
